:root {
  --primary-color: #E54817;
  --primary-color-darker: #73240C;
  --primary-color-primary-text: white;
  --input-background-color: white;
  --input-text-color: black;
  --modal-background-color: rgba(0, 0, 0, 0.5);
  --grey-background: #202020;
  --grey-black-background: #363739;
}
