*, *::after, *::before {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: content-box;
}
button, input[type=button], input[type=submit] {
  border: none;
  background: transparent;
  font-size: 1em;
  color: inherit;
}
input[type=text], input[type=url], input[type=number] {
  border: none;
  background: var(--input-background-color);
  font-size: 1em;
  color: var(--input-text-color);
}
button:hover, input[type=button]:hover, input[type=submit]:hover {
  cursor: pointer;
}
html, body {
  height: 100%;
  width: 100%;
}
html {
  font-size: 20px;
}
body {
  /*background-color: #c5482d;*/
  background-color: #c3bfbe;
}
h1, h2, h3 {
  font-size: 1em;
}
@media (max-width: 1024px) {
  html {
    font-size: 16px;
  }
}

@media (max-width: 640px) {
  html {
    font-size: 14px;
  }
}
